.opening{
    font-size: 10px;
}
.mgtop{
    margin-top: 11px;
}
span{
    color: rgb(9, 204, 146);
}
.center{
    text-align: center;
}

.cursor{
 cursor: pointer;
 font-size: 16px;
}
.title{
    text-align: center;
    color: #f8f9fa;
}